/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Очень тёмный фон */
    color: #e0e0e0; /* Светлый текст */
    margin: 0;
    padding: 0;
}

/* Контейнер */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Хедер */
.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2rem;
    color: #ffffff; /* Белый цвет для заголовка */
}

/* Список пользователей */
.user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Карточка пользователя */
.user-card-btn {
    background: none;
    border: none;
    cursor: pointer;
    width: 250px;
    transition: transform 0.3s ease;
}

.user-card-btn:hover {
    transform: scale(1.05);
}

.button-form button {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #333; /* Синий цвет для кнопок */
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.button-form button:hover {
    background-color: #5c5b5b; /* Темнее при наведении */
}

/* Карточка пользователя */
.user-card {
    background-color: #1e1e1e; /* Темный фон для карточки */
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Аватар */
.user-avatar img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #333;
}

.no-avatar {
    text-align: center;
    padding: 20px;
    color: #666; /* Серый текст для отсутствующей аватарки */
}

/* Информация о пользователе */
.user-info {
    padding: 15px;
    color: #e0e0e0; /* Светлый текст */
}

.user-info h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #ffffff; /* Белый цвет для заголовка */
}

.user-info p {
    margin: 5px 0;
}

.user-info strong {
    color: #3498db; /* Синий для важных данных */
}

/* Пустой список */
.empty {
    text-align: center;
    font-size: 1.2rem;
    color: #888; /* Светло-серый */
}
