<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Ваше имя: {{ profile.puser }}</h1>
        <br>Ваша роль: {% if profile.role %} 
                            {{ profile.role }}
                        {% else %}
                            не установлена <br>
                        {% endif %}</p>
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    <form method="get" action="{% url 'profile' %}">
        <button type="submit">Назад</button>
    </form>
</body>
</html>