{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="{% static 'profiles.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Все зарегистрированные пользователи</h1>
        </header>
        <hr>
        <section class="user-list">
            {% for user in users %}
                <form method="post" action="{% url 'profiles_info' user.id %}">
                    {% csrf_token %}
                    <button type="submit" class="user-card-btn">
                        <div class="user-card">
                            {% if user.profile.avatar %}
                                <div class="user-avatar">
                                    <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}'s avatar">
                                </div>
                            {% else %}
                                <p class="no-avatar">Нет загруженной аватарки.</p>
                            {% endif %}
                            <div class="user-info">
                                <h2>{{ user.username }}</h2>
                                <p><strong>Биография:</strong> {{ user.profile.bio }}</p>
                                <p><strong>Роль:</strong> {{ user.profile.role }}</p>
                                <p><strong>Статус:</strong> {{ user.profile.status }}</p>
                            </div>
                        </div>
                    </button>
                </form>
            {% empty %}
                <p>Пользователи не найдены.</p>
            {% endfor %}
        </section>        
    </div>
</body>
</html>
