{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user_ban.css' %}">
    <title>Блокировка учетной записи</title>
</head>
<body>
    <div class="container">
        <h1>У вас нет прав для выполнения этого действия.</h1>
        <form method="post" onclick="history.back()">
            {% csrf_token %}
            <button type="submit">Назад</button>
        </form>
    </div>
</body>
</html>