{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'scp/css/profile.css' %}" rel="stylesheet"/>
    <script src="{% static 'scp/css/websocket.js' %}"></script>
    <title>{{profile.puser}}</title>
</head>
<body>
    <div class="container">
        <div class="left-container">
            <h1>Профиль пользователя</h1>
            <hr>
            {% if profile.avatar %}
                <div class="avatar-container">
                    <img src="{{ profile.avatar.url }}" alt="Profile Image" class="avatar"/>
                </div>
            {% else %}
                <p class="no-avatar">Нет загруженной аватарки.</p>
            {% endif %}
            <h1>{{ profile.puser }}</h1>
            <div class="profile-info">
                <p><strong>Ваша роль:</strong> {{ profile.role }}</p>
                <p><strong>О вас:</strong> {{ profile.bio }}</p>
                <p><strong>Статус блокировки:</strong> {{ profile.status }}</p>
                <p id="status"><strong>Активность</strong></p>
                    {% if profile.account %}
                        <p style="color: green;">Онлайн</p>
                    {% else %}
                        <p style="color: red;"> Оффлайн</p>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="right-container">
            <div class="button-form">
                <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <button type="submit">На главную</button>
                </form>
                <form method="post" action="{% url 'profiles' %}">
                    {% csrf_token %}
                    <button type="submit">Назад</button>
                </form>
                {% if request.user != profile.puser %}
                    {% if profile.status == "Не заблокирован" %}
                        <form method="post" action="{% url 'ban_user' profile.puser.id%}">
                            {% csrf_token %}
                            <button type="submit" class="ban">Забанить</button>
                        </form>
                    {% endif %}
                    {% if profile.status == "Заблокирован" %}
                        <form method="post" action="{% url 'unban_user' profile.puser.id%}">
                            {% csrf_token %}
                            <button type="submit" class="unban">Разбанить</button>
                        </form>
                    {% endif %}
                    <a href="{% url 'delete_profile' profile.puser.id%}"><button type="submit" class="ban">Удалить уч.запись</button></a>
                {% endif %}
            </div>
            <hr>
            <div class="title-project">
                <h2>Проекты пользователя</h2>
            </div>
            <div class="projects-container">
                {% for project in projects %}
                    <form method="post" action="{% url 'info_project' project.id %}">
                        {% csrf_token %}
                        <button type="submit" class="project-btn">
                            <h3>{{ project.title }}</h3>
                            <p>{{ project.description }}</p>
                            <p><strong>Проект создан:</strong> {{ project.created_at }}</p>
                            <p><strong>Статус проекта:</strong> {{ project.status }}</p>
                            <p><strong>Создатель проекта:</strong> {{ project.owner }}</p>
                        </button>
                    </form>
                {% empty %}
                    <p class="empty">Проекты отсутствуют</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
