{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить задачу</title>
    <link rel="stylesheet" href="{% static 'scp/css/edit_task.css' %}">
    <script src="{% static 'scp/js/websocket.js' %}"></script>
</head>
<body>
    <div class="form-container">
        <h1>Добавить задачу</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
                {{ form.description.label_tag }}
                {{ form.description }}
                {{ form.code.label_tag }}
                {{ form.code }}
                {{ form.status.label_tag }}
                {{ form.status }}
                {{ form.priority.label_tag }}
                {{ form.priority }}
                {{ form.assignee.label_tag }}
                {{ form.assignee }}
            </div>
            <div class="form-actions">
                <button type="submit">
                    <img style="height: 20px; width: 20px;" src="{% static 'scp/image/save.png' %}" />
                </button>
                <a href="{{ delete_task }}" class="delete-link">
                    <img style="height: 20px; width: 20px;" src="{% static 'scp/image/delete.png' %}" />    
                </a>
                <form method="post" action="{% url 'info_task' project_id task_id %}">
                    {% csrf_token %}
                    <button type="submit">
                        <img style="height: 20px; width: 20px;" src="{% static 'scp/image/back.png' %}" />
                    </button>
                </form>
            </div>
        </form>
    </div>
</body>
</html>
