<!-- заготовка для форума html -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scp/css/forum.css' %}">
    <script src="{% static 'scp/js/websocket.js' %}"></script>
    <title>Форум</title>
</head>
<body>
    <div class="fixed-header">
        <h1 class="title-forum">Форум</h1>
        {% if user.profile.avatar %}
            <a href="{% url 'profile' %}">
                <div class="avatar-wrapper">
                    <img src="{{ user.profile.avatar.url }}" alt="Profile Image" class="avatar"/>
                </div>
            </a>
        {% else %}
            <a href="{% url 'profile' %}"><p class="no-avatar">Нет загруженной аватарки</p></a>
        {% endif %}
    </div>
    <div class="news">
        <form method="post" action="{% url 'create_post' %}">
            {% csrf_token %}
            <button type="submit">Создать пост</button>
        </form>
        {% for post in posts %}
            <div class = "post">
                <a href="{% url 'profiles_info' user.id %}">
                    <div class="avatar-post">
                        <img src="{{ user.profile.avatar.url }}" alt="Profile Image" class="avatar"/>
                    </div>
                </a>
                <p><strong>{{ post.user.username }}</strong>: {{ post.content }}</p>
                <p>Название: {{ post.title }}</p>
                <p>Анонс: {{ post.anons }}</p>
                <p>{{ post.text }}</p>
                <p>{{ post.creator }}</p>
                <p>: {{ post.created_at }}</p>
                
                <!-- Отображаем комментарии -->
                <p>Комментарии</p>
                {% for comment in post.comments.all %}
                    <p><strong>{{ comment.user.username }}:</strong> {{ comment.content }}</p>
                    <p>Опубликовано: {{ comment.created_at }}</p>
                {% endfor %}
            </div>
        {% empty %}
            <h1>К сожалению нет новостей</h1>
        {% endfor %}
    </div>
</body>
</html>



<!-- <form method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="hidden" name="post_id" value="{{ post.id }}">
    <button type="submit" name="comment_form">Оставить комментарий</button>
</form> -->