{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scp/css/home.css' %}">
    <script src="{% static 'scp/js/websocket.js' %}"></script>
    <title>Домашняя страница</title>
</head>
<body>
    <!-- Фиксированный заголовок -->
    <header class="fixed-header">
        <h1 class="title-home">Домашняя страница</h1>
        {% if user.profile.avatar %}
            <a href="{% url 'profile' %}">
                <div class="avatar-wrapper">
                    <img src="{{ user.profile.avatar.url }}" alt="Аватар пользователя" class="avatar"/>
                </div>
            </a>
        {% else %}
            <a href="{% url 'profile' %}">
                <div class="no-avatar">Нет загруженной аватарки</div>
            </a>
        {% endif %}
    </header>

    <!-- Фильтры -->
    <nav class="container_filter">
        <form method="get" action="{% url 'home' %}">
            <!-- {% csrf_token %} -->
            <div class="filter">
                <select  name="sort">
                    <option value=""></option> 
                    <option value="asc">По возрастанию</option> 
                    <option value="desc">По убыванию</option> 
                    <option value="low-complexity">По сложности (Низкая)</option> 
                    <option value="middle-complexity">По сложности (Средняя)</option> 
                    <option value="hard-complexity">По сложности (Высокая)</option> 
                    <option value="Completed">Завершенные</option> 
                    <option value="In developer">В разработке</option> 
                    <option value="Waiting">Ожидают</option> 
                    <option value="created-old">По дате (старые)</option> 
                    <option value="created-now">По дате (новые)</option> 

                </select>
                <button type="submit" value="sort">Фильтровать</button>
                <a href="{% url 'home' %}">Сбросить</a>
            </div>
        </form>
    </nav>
    <main class="container">
        <div class="left-container">
            <div class="left-content">
                <h1 class="title-home">Список проектов</h1>
            </div>
        </div>
        <div class="right-container">
            {% for project in projects %}
                <form method="post" action="{% url 'info_project' project.id %}">
                    {% csrf_token %}
                    <button type="submit" class="button-projects">
                        <p>Название</p>
                        <h3>{{ project.title }}</h3>
                        <p>Описание</p>
                        <span>{{ project.description }}</span>
                        <hr>
                        {% if project.participants.all %}
                            <p>Над проектом работают</p>
                            <div class="participants-list">
                                {% for participant in project.participants.all %}
                                    <a href="{% url 'profiles_info' user.id %}">
                                        {{ participant.username }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Исполнители отсутствуют</p>
                        {% endif %}
                        <p>Проект создан</p>
                        <span>{{ project.created_at }}</span>
                        <p>Статус проекта</p>
                        <span>{{ project.status }}</span>
                        <p>Сложность проекта</p>
                        <span>{{ project.complexity }}</span>
                        <p>Создатель проекта</p>
                        <strong>{{ project.owner }}</strong>
                    </button>
                </form>
            {% empty %}
                <p class="not-found-project">Проекты отсутствуют</p>
            {% endfor %}
        </div>
    </main>
</body>
</html>