{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проект: {{ project.title }}</title>
    <link rel="stylesheet" href="{% static 'scp/css/info_project.css' %}">
</head>
<body>
    <div class="container">
        <header class="project-header">
            <h1>{{ project.title }}</h1>
            <p><strong>Описание проекта:</strong> {{ project.description }}</p>
        </header>

        <section class="project-details">
            <p><strong>Проект создан:</strong> {{ project.created_at }}</p>
            <p><strong>Статус проекта:</strong> {{ project.status }}</p>
            <p><strong>Создатель проекта:</strong> {{ project.owner }}</p>
            <p><strong>Язык программирования:</strong> {{ project.language }}</p>
        </section>
        <section class="participants">
            <h2>Над проектом работают:</h2>
            {% if project.participants.all %}
                <ul class="participants-list">
                    {% for participant in project.participants.all %}
                        <a href="{% url 'profiles_info' participant.id %}">{{ participant.username }}</a>,
                    {% endfor %}
                </ul>
            {% else %}
                <p>Исполнители отсутствуют</p>
            {% endif %}
        </section>

        <section class="actions">
            {% if request.user != project.owner %}
                {% if is_participant %}
                    <a href="{% url 'unjoin_project' project.id %}"><button type="submit" class="nav-button">Покинуть проект</button></a>
                {% else %}
                    <a href="{% url 'join_project' project.id %}"><button type="submit" class="nav-button">Принять участие</button></a>
                {% endif %}
            {% else %}
                <a href="{% url 'manage_particip' project.id %}"><button type="submit" class="nav-button">Управлять исполнителями</button></a>
            {% endif %}
            {% if request.user == project.owner %}
                <form method="post" action="{% url 'add_task' project.id %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-button">Добавить задачу</button>
                </form>
                <form method="get" action="{% url 'edit_project' project.id%}">
                    <!-- {% csrf_token %} -->
                    <button type="submit" class="nav-button">Изменить проект</button>
                </form>
            {% endif %}
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                <button type="submit" class="nav-button">В профиль</button>
            </form>
            <form method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <button type="submit" class="nav-button">На главную</button>
            </form>
        </section>
        <section class="tasks">
            <hr>
            <h2 style="text-align: center;">Задачи</h2>
            <div class="task-container">
                {% for task in tasks %}
                    <div class="task-btn">
                        <form method="post" action="{% url 'info_task' task.id project.id%}" class="task-form">
                            {% csrf_token %}
                            <button type="submit">
                                
                                <p><strong>Название задачи<br></strong> {{ task.title }}</p>
                                {% if task.assignee %} 
                                    
                                {% else %}
                                    <p>Исполнители отсутствуют</p>
                                {% endif %}
                                <p><strong>Приоритет задачи<br></strong> {{ task.priority }}</p>
                                <p><strong>Статус задачи<br></strong> {{ task.status }}</p>
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!--дополнить css и сделать по середине вывод 
            cделать изменение кода прямо в проекте а не в изменении его данных-->
        <section class="code-project" style="align-items: center; text-align: center;"> 
            <h2>Код проекта</h2>
            <hr>
            <p>{{ project.code }}</p>
        </section>
    </div>
</body>
</html>
