{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задача: {{ task.title }}</title>
    <link rel="stylesheet" href="{% static 'scp/css/info_task.css' %}">
    <script src="{% static 'scp/js/websocket.js' %}"></script>
</head>
<body>
    <div class="container">
        <!-- Шапка задачи -->
        <header class="project-header">
            <h1>{{ task.title }}</h1>
            <p><strong>Описание задачи</strong><br><br>{{ task.description }}</p>
        </header>

        <section class="task-details">
                <div class="detail">
                    <strong>Задача создана</strong>
                    <span>{{ task.created_at }}</span>
                </div>
                <div class="detail">
                    <strong>Статус задачи</strong>
                    <span>{{ task.status }}</span>
                </div>
                <div class="detail">
                    <strong>Создатель задачи</strong>
                    <span>{{ task.creator }}</span>
                </div>
                <div class="detail">
                    <strong>Приоритет</strong>
                    <span>{{ task.priority }}</span>
                </div>
        </section>

        <!-- Участники задачи -->
        <section class="participants">
            <h2>Над задачей работает(-ют)</h2>
            {% if task.assignee %}
                {% if task.assignee.profile.avatar %}
                    <div class="avatar-wrapper">
                        <strong></strong>
                        <div class="avatar-container">
                            <a href="{% url 'profiles_info' task.assignee.id %}" class="avatar">
                                <img src="{{ task.assignee.profile.avatar.url }}" class="avatar" alt="Аватар исполнителя" /></a>
                        </div>
                    </div>
                    <strong>{{ task.assignee.profile.puser }}</strong>
                {% else %}
                    <p>Изображение отсутствует</p>
                {% endif %}
            {% else %}
                <p>Исполнитель(-ли) отсутствуют</p>
            {% endif %}
        </section>

        <!-- Действия с задачей -->
        <section class="actions">
            {% if request.user != task.creator %}
                    {% if is_assignee == request.user and task.status != "Выполнено"%}
                        <a href="{% url 'unjoin_task' task_id project_id %}">
                            <button type="submit" class="nav-button">Отказаться от выполнения</button>
                        </a>
                    {% elif not is_assignee %}
                        <a href="{% url 'join_task' task_id project_id %}">
                            <button type="submit" class="nav-button">Приступить к выполнению</button>
                        </a>
                    {% elif task.status == "Выполнено" %}
                        <p>Задача выполнена</p>
                    {% elif is_assignee != request.user%}
                        <p>Задача занята</p>
                    {% endif %}
                    {% if task.status == "В разработке" and request.user == is_assignee %}
                        <a href="{% url 'done_task' task_id project_id %}">
                            <button type="submit" class="nav-button">Выполнено</button>
                        </a>
                    {% elif request.user == is_assignee %}
                        <a href="{% url 'undone_task' task_id project_id %}">
                            <button type="submit" class="nav-button">Отмена выполнения</button>
                        </a>
                    {% endif %}
                    {% if task.status == "В разработке" %}
                        <form method="get" action="{% url 'parsip_edit_task' project_id task_id %}">
                            <button type="submit" class="nav-button">
                                <img src="{% static 'scp/image/edit_project.png' %}" />
                                <p>Изменить задачу</p>
                            </button>
                        </form>
                    {% endif %}
            {% endif %}

            {% if request.user == task.creator %}
                <form method="get" action="{% url 'edit_task' project_id task_id %}">
                    <button type="submit" class="nav-button">
                        <img src="{% static 'scp/image/edit_project.png' %}" />
                        <p>Изменить задачу</p>
                    </button>
                </form>
            {% endif %}

            <form method="post" action="{% url 'info_project' project_id %}">
                {% csrf_token %}
                <button type="submit" class="nav-button">
                    <img src="{% static 'scp/image/back.png' %}" />
                    <p>К проекту</p>
                </button>
            </form>
        </section>
    </div>
</body>
</html>