{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'scp/css/profile.css' %}" rel="stylesheet"/>
    <link rel="icon" href="{% static 'image/profile.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'image/profile.ico' %}" type="image/x-icon">
    <script src="{% static 'scp/js/websocket.js' %}"></script>
    <title>Профиль</title>
</head>
<body>
    <div class="container">
        <!-- Левая часть -->
        <div class="left-container">
            <h1>Профиль</h1>
            <hr>
            {% if user.profile.avatar %}
                <div class="avatar-container">
                    <img src="{{ profile.avatar.url }}" alt="Profile Image" class="avatar"/>
                </div>
            {% else %}
                <p class="no-avatar">Нет загруженной аватарки.</p>
            {% endif %}
            <h1>{{ profile.puser }}</h1>
                <div class="profile-info">
                        <p><strong>Ваша роль:</strong> {{ profile.role }}</p>
                    {% if profile.bio %}
                        <p><strong>О вас:</strong> {{ profile.bio }}</p>
                    {% else %}
                        <p><strong>О вас:</strong> Данные не указаны</p>
                    {% endif %}
                    <!-- {% if profile.account %}
                        <p class="account-color"><strong>Статус: </strong>Онлайн</p>
                    {% else %}    
                        <strong>Статус: </strong><p class="account-color">Оффлайн</p>
                    {% endif %} -->
                </div>
        </div>
        <div class="right-container">
            <div class="button-form">
                <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="button-control">
                        <button type="submit">
                            <img src="{% static 'scp/image/home.png' %}" />
                            <p>На главную</p>
                        </button>
                    </div>
                </form>
                <form method="post" action="{% url 'forum' %}">
                    {% csrf_token %}
                    <div class="button-control">
                        <button type="submit">
                            <img src="{% static 'scp/image/forum.png' %}" />
                            <p>На форум</p>
                        </button>
                    </div>
                    
                </form>
                {% if profile.role == "Администратор" %}
                    <form method="post" action="{% url 'profiles'%}">
                        {% csrf_token %}
                        <div class="button-control">
                            <button type="submit">
                                <img src="{% static 'scp/image/admin.png' %}" />
                                <p>Aдминка</p>
                            </button>
                        </div>
                    </form>
                {% else %}
                    <form method="post" action="{% url 'profiles' %}">
                        {% csrf_token %}
                        <div class="button-control">
                            <button type="submit">
                                <img src="{% static 'scp/image/groups.png' %}" />
                                <p>Участники</p>
                            </button>
                        </div>
                    </form>
                {% endif %}
                <form method="post" action="{% url 'add_project' %}">
                    {% csrf_token %}
                    <div class="button-control">
                        <button type="submit">
                            <img src="{% static 'scp/image/create_project.png' %}" />
                            <p>Создать проект</p>
                        </button>
                    </div>
                </form>
                <form method="get" action="{% url 'profile_settings' %}">
                    <div class="button-control">
                        <button type="submit">
                            <img src="{% static 'scp/image/settings.png' %}" />
                            Настройки
                        </button>
                    </div>
                </form>
                <form method="post" action="{% url 'logout_view' %}">
                    {% csrf_token %}
                    <div class="button-control">
                        <button type="submit">
                            <img src="{% static 'scp/image/exit.png' %}" />    
                            Выйти
                        </button>
                    </div>
                </form>
            </div>

            <hr>
            <div class="title-project">
                <h2>Ваши проекты</h2>
            </div>
            <div class="projects-container">
                {% for project in projects %}
                    <form method="post" action="{% url 'info_project' project.id %}">
                        {% csrf_token %}
                        <button type="submit" class="project-btn">
                            <h3>{{ project.title }}</h3><br>
                            <strong>Описание проекта</strong>
                            <p>{{ project.description }}</p>
                            <strong>Проект создан</strong> 
                            <p>{{ project.created_at }}</p>
                            <strong>Статус проекта</strong> 
                            <p>{{ project.status }}</p>
                            <strong>Создатель проекта</strong> 
                            <p>{{ project.owner }}</p>
                        </button>
                    </form>
                {% empty %}
                    <p class="empty">Проекты отсутствуют</p>
                {% endfor %}
            </div>
            <div class="title-project">
                <h2>Проекты над которыми вы работаете</h2>
            </div>
            <div class="projects-container">
                {% for memberproject in memberprojects %}
                    <form method="post" action="{% url 'info_project' memberproject.id %}">
                        {% csrf_token %}
                        <button type="submit" class="project-btn">
                            <h3>{{ memberproject.title }}</h3>
                            <p>{{ memberproject.description }}</p>
                            <p><strong>Проект создан:</strong> {{ memberproject.created_at }}</p>
                            <p><strong>Статус проекта:</strong> {{ memberproject.status }}</p>
                            <p><strong>Создатель проекта:</strong> {{ memberproject.owner }}</p>
                        </button>
                    </form>
                {% empty %}
                    <p class="empty">Проекты отсутствуют</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
