<!-- сделать выбор страны прожиавания -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scp/css/profile_settings.css' %}">
    <link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'scp/js/websocket.js' %}"></script>
    <title>Настройки</title>
</head>
<body>
    <div class="settings-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="avatar-section">
                <label for="id_avatar" class="avatar-label">
                    {% if profile.avatar %}
                        <img src="{{ profile.avatar.url }}" alt="Аватар" class="avatar-image">
                    {% else %}
                        <div class="avatar-placeholder">Нажмите для загрузки</div>
                    {% endif %}
                </label>
                <div class="hidde">
                    {{ form.avatar }}
                </div>
            </div>
            <h1>Ваше имя: {{ profile.puser }}</h1>
            <p>Ваша роль: {{ profile.role|default:"не установлена" }}</p>
            <div class="form-group">
                {{ form.bio }}
            </div>
            <div class="button">
                <button type="submit"><img src="{% static 'scp/image/save.png' %}" style="height: 20px; width: 20px;" alt="Иконка удаления"></button>
                <button onclick="history.back()"><img src="{% static 'scp/image/back.png' %}" style="height: 20px; width: 20px;" alt="Иконка удаления"></button>
            </div>
        </form>
    </div>
</body>
</html>


