{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'scp/css/profile.css' %}" rel="stylesheet"/>
    <script src="{% static 'scp/js/websocket.js' %}"></script>
    <title>{{profile.puser}}</title>
</head>
<body>
    <div class="container">
        <div class="left-container">
            <h1>Профиль пользователя</h1>
            <hr>
            {% if profile.avatar %}
                <div class="avatar-container">
                    <img src="{{ profile.avatar.url }}" alt="Profile Image" class="avatar"/>
                </div>
            {% else %}
                <p class="no-avatar">Нет загруженной аватарки.</p>
            {% endif %}
            <h1>{{ profile.puser }}</h1>
            <div class="profile-info">
                <p><strong>Роль:</strong> {{ profile.role }}</p>
                <p><strong>Обо мне:</strong> {{ profile.bio }}</p>
                <p><strong>Статус блокировки:</strong> {{ profile.status }}</p>
            </div>
        </div>
        <div class="right-container">
            <div class="button-form">
                <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <button type="submit">На главную</button>
                </form>
                <button onclick="history.back()">Назад</button>
            </div>

            <hr>
            <div class="title-project">
                <h2>Проекты пользователя</h2>
            </div>
            <div class="projects-container">
                {% for project in projects %}
                    <form method="post" action="{% url 'info_project' project.id %}">
                        {% csrf_token %}
                        <button type="submit" class="project-btn">
                            <strong>Название проекта</strong>
                            <h3>{{ project.title }}</h3>
                            <strong>Описание проекта</strong>
                            <p>{{ project.description }}</p>
                            <strong>Проект создан</strong> 
                            <p>{{ project.created_at }}</p>
                            <p><strong>Статус проекта</strong> 
                                {{ project.status }}</p>
                            <p><strong>Создатель проекта</strong> 
                                {{ project.owner }}</p>
                        </button>
                    </form>
                {% empty %}
                    <p class="empty">Проекты отсутствуют</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
