{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="{% static 'scp/css/profiles.css' %}">
    <script src="{% static 'scp/js/websocket.js' %}"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Все зарегистрированные пользователи</h1>
            <a href="{% url 'profile' %}"><img src="https://cdn-icons-png.flaticon.com/512/17286/17286984.png" style="height: 100px; width: 100px;"></a>
        </header>
        <hr>
        <section class="user-list">
            {% for user in users %}
                {% if request.user.profile.role == "Администратор" %}
                    <form method="post" action="{% url 'admin_panel' user.puser.id %}">
                        {% csrf_token %}
                        <button type="submit" class="user-card-btn">
                            <div class="user-card">
                                {% if user.avatar %}
                                    <div class="user-avatar">
                                        <img src="{{ user.avatar.url }}" alt="{{ user.puser }}'s avatar">
                                    </div>
                                {% else %}
                                    <p class="no-avatar">Нет загруженной аватарки.</p>
                                {% endif %}
                                <div class="user-info">
                                    <h2>{{ user.puser }}</h2>
                                    <p><strong>Роль:</strong> {{ user.role }}</p>
                                    <p><strong>Статус:</strong> {{ user.status }}</p>
                                    <p id="status"><strong>Активность</strong></p>
                                        {% if user.account %}
                                            <p style="color: green;">Онлайн</p>
                                        {% else %}
                                            <p style="color: red;"> Оффлайн</p>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </button>
                    </form>
                {% else %}
                    <form method="post" action="{% url 'profiles_info' user.id %}">
                        {% csrf_token %}
                        <button type="submit" class="user-card-btn">
                            <div class="user-card">
                                {% if user.avatar %}
                                    <div class="user-avatar">
                                        <img src="{{ user.avatar.url }}" alt="{{ user.username }}'s avatar">
                                    </div>
                                {% else %}
                                    <p class="no-avatar">Нет загруженной аватарки.</p>
                                {% endif %}
                                <div class="user-info">
                                    <h2>{{ user.puser }}</h2>
                                    <p><strong>Биография:</strong> {{ user.bio }}</p>
                                    <p><strong>Роль:</strong> {{ user.role }}</p>
                                    <p><strong>Статус:</strong> {{ user.status }}</p>
                                    <p id="status"><strong>Активность</strong></p>
                                        {% if user.account %}
                                            <p style="color: green;">Онлайн</p>
                                        {% else %}
                                            <p style="color: red;"> Оффлайн</p>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </button>
                    </form>
                {% endif %}
            {% empty %}
                <p>Пользователи не найдены.</p>
            {% endfor %}
        </section>        
    </div>
</body>
</html>
