{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'scp/css/you_is_banned.css' %}">
    <title>Блокировка</title>
</head>
<body>
    <div class="container">
        {% if user.profile.avatar %}
                <div class="avatar-container">
                    <img src="{{ profile.avatar.url }}" alt="Аватар пользователя" class="avatar"/>
                </div>
            {% else %}
                <p class="no-avatar">Нет загруженной аватарки.</p>
            {% endif %}
        <h1>{{ profile.puser }}, ваша учетная запись заблокирована</h1>
        <p>Ваша учетная запись помечена как: <strong>Заблокирована</strong></p>
        <p>Если вы считаете, что блокировка была ошибочной или не справедливой, пожалуйста, сообщите нам.</p>
        <p>Для связи с владельцем сайта, напишите через <a href="https://t.me/Bardak_ui" target="_blank">Telegram</a>.</p>
        <p><a href="https://t.me/Bardak_ui" class="disagree-link">Я не согласен(-на) с блокировкой</a></p>
        <form method="post" action="{% url 'logout_view' %}">
            {% csrf_token %}
            <button type="submit">Завершить сессию</button>
        </form>
    </div>
</body>
</html>