<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
</head>
<body>
    {% for project in projects %}
        <form method="post" action="{% url 'info_project' project.id %}">
            {% csrf_token %}
            <button type="submit">
                    {{project.title}} <br>
                    {{project.description}} <br>
                    {{project.created_at}} <br>
                    {{project.owner}} <br>
                    {{project.participants}} <br>
                    {{project.start_date}} <br>
                    {{project.end_date}} <br>
                    {{project.status}} <br>
                    <!-- {{project.code}} <br> -->
                {% empty %}
                    <p>Проекты отсутствуют.</p>
                {% endfor %}
            </button>
        </form>
    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <button type="submit">Профиль</button>
    </form>
    <form method="post" action="{% url 'logout_view' %}">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
</body>
</html>