{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="{% static 'profiles.css' %}">
    <script src="{% static 'websocket.js' %}"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Все зарегистрированные пользователи</h1>
            <form method="post" class="button-form" action="{% url 'profile' %}">
                {% csrf_token %}
                <button type="submit">Назад</button>
            </form>
        </header>
        <hr>
        <section class="user-list">
            {% for user in users %}
                {% if request.user.profile.role == "Администратор" %}
                    <form method="post" action="{% url 'admin_panel' user.id %}">
                        {% csrf_token %}
                        <button type="submit" class="user-card-btn">
                            <div class="user-card">
                                {% if user.profile.avatar %}
                                    <div class="user-avatar">
                                        <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}'s avatar">
                                    </div>
                                {% else %}
                                    <p class="no-avatar">Нет загруженной аватарки.</p>
                                {% endif %}
                                <div class="user-info">
                                    <h2>{{ user.username }}</h2>
                                    <p><strong>Биография:</strong> {{ user.profile.bio }}</p>
                                    <p><strong>Роль:</strong> {{ user.profile.role }}</p>
                                    <p><strong>Статус:</strong> {{ user.profile.status }}</p>
                                    <p id="status"><strong>Активность</strong></p>
                                        {% if user.profile.account %}
                                            <p style="color: green;">Онлайн</p>
                                        {% else %}
                                            <p style="color: red;"> Оффлайн</p>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </button>
                    </form>
                {% else %}
                    <form method="post" action="{% url 'profiles_info' user.id %}">
                        {% csrf_token %}
                        <button type="submit" class="user-card-btn">
                            <div class="user-card">
                                {% if user.profile.avatar %}
                                    <div class="user-avatar">
                                        <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }}'s avatar">
                                    </div>
                                {% else %}
                                    <p class="no-avatar">Нет загруженной аватарки.</p>
                                {% endif %}
                                <div class="user-info">
                                    <h2>{{ user.username }}</h2>
                                    <p><strong>Биография:</strong> {{ user.profile.bio }}</p>
                                    <p><strong>Роль:</strong> {{ user.profile.role }}</p>
                                    <p><strong>Статус:</strong> {{ user.profile.status }}</p>
                                </div>
                            </div>
                        </button>
                    </form>
                {% endif %}
            {% empty %}
                <p>Пользователи не найдены.</p>
            {% endfor %}
        </section>        
    </div>
</body>
</html>
