<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
</head>
<body>
    <h1>Здравтвуйте, {{ profile.user }}</h1>
    <p>Это ваш профиль тут будут информация о вас и ваших проектах</p>
    <hr>
    {% for project in projects %}
        <form method="post" action="{% url 'info_project' project.id %}">
            <button type="submit">
                    Название проекта: {{project.title}} <br>
                    Описание проекта: {{project.description}} <br>
                    {% if project.participants.all %}
                        <br> Над проектом работают: 
                        {% for participant in project.participants.all %}
                            {{ participant.username }}, <!-- Выводим имена участников -->
                        {% endfor %}
                    {% else %}
                        <br>Исполнители отсутствуют<br>
                    {% endif %}
                    <br><br>Проект создан: {{project.created_at}} <br>
                    Разработка проекта начата: {{project.start_date}} <br>
                    Разработка проекта окончена: {{project.end_date}} <br>d
                    <br >Статус проекта: {{project.status}} <br>
                    <br>Создатель проекта: {{project.owner}} <br>
                    <!-- {{project.code}} <br> -->
    {% empty %}
        <p>Проекты отсутствуют</p>
    {% endfor %}
            </button>
        </form>
        <hr>
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <button type="submit">На главную</button>
        </form>
        <form method="post" action="{% url 'add_project' %}">
            {% csrf_token %}
            <button type="submit">Создать Проект</button>
        </form>
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <button type="submit">Настойки</button>
        </form>
        <form method="post" action="{% url 'logout_view' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
</body>
</html>